.App {
  text-align: center;
  font-size: 110%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  font-size: 20px;
  background-color: white;
  color: #894e3f;
  border-color: #894e3f;
  border-width: 2px;
  border-radius: 6px;
  transition-duration: 0.5s;
}
.button:hover {
  background-color: #894e3f;
  color: white;
}

.cake {
  height: 300%;
  width: 300;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 5%;
  background: #c9b5b0;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
}

.cakes_available>h2{
  padding-left: 3rem;
  text-align: left;
}

.cakes_available>.totals{
  height: 300%;
  width: 300;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 5%;
  color: whitesmoke;
  background: #7f5348;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
}

.cake>img {
  max-width: 40%;
  height: auto;
}